.harryPotter {
    padding: 20px;
    margin-left: 30px;
}

h1 {
    align-content: center;
    font-weight: bolder;
    font-style: italic;
    color: rgb(94, 4, 133);
    text-shadow: 1px 1px rgb(252, 253, 255);
    text-align: center;
    font-size: 80;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
    background-color: black;
	background-image: linear-gradient(rgb(81, 220, 255), rgb(8, 12, 240));
	overflow: auto;
}

p {
    color: rgb(32, 6, 6);
    font-size: x-large;
    padding-left: 30px;
    padding-right: 30px;
}

#stick {
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    margin: auto;
}

