#heading {
    align-content: center;
    font-weight: bolder;
    font-style: italic;
    color: darkviolet;
    text-shadow: 2.5px 2.5px rgb(250, 3, 3);
    text-align: center;
    font-size: 75px;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    font-size: 25;
    color: rgb(146, 7, 7);
    text-align: center;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

body {
    background-color: black;
	background-image: linear-gradient(black, rgb(211, 228, 60));
	overflow: auto;
}

#alert_message {
    background-color: skyblue;
    font-style: italic;
    color: rgb(35, 3, 65);
    font-weight: bolder;
}

.bvrit {
    padding: 20px;
}

#college {
    color: darkorange;
}

#thanks {
    text-align: center;
    font-size: 36;
    font-weight: bolder;
    font-style: italic;
    color: rgb(2, 124, 28);
}

h3 {
    color: rgb(136, 4, 4);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.col {
    border-radius: 15px 50px;
    background: rgb(81, 84, 233);
    padding: 20px; 
    width: 400px;
    height: 400px;
    margin-left: 130px;
    margin-right: 130px;
}