.container {
    padding-top: 20px;
    margin: 10px;
    color: darkred;
    font-size: 40;
    font-weight: bolder;
    font-style: italic;
    
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bg {
    background-size: 100% 100%;
}

a:link, a:visited {
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: yellow;
    display: inline-block;
    margin-top: 10px;
    /*border: 3px solid darkolivegreen;*/
}

#content {
    color: rgb(173, 8, 8);
    font-weight: bold;
    font-size: 30;
    font-style: oblique;
    background-color: rgb(64, 250, 73);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 180px;
    /*border: 6px groove rgb(10, 2, 75);*/
    padding-left: 40px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px whitesmoke;
}
.col {
    margin-left: 40px;
    margin-right: 40px;
    background-color: lightyellow;
    border-radius: 15px 50px;
    background: peachpuff;
    padding: 20px; 
    width: 200px;
    height: 150px;
    text-shadow: 2px 2px 2px rgb(89, 223, 247);
}

.col {
    width: 300px;
    height: 150px;
    background: rgb(248, 106, 106);
    animation: mymove 3s infinite;
}
  
@keyframes mymove {
    from {background-color: blue;}
    to {background-color: red;}
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: maroon;
    font-family: 'Raleway';
    font-size: 2.3rem;
  }
  .gradient-border {
    --borderWidth: 10px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #14110e, #fc0831, #3106f1, #06f306, #f10808, #045501, #c9eb08, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }